{{!查询专家列表根据医院code和科室code,长度最大9999只为统计数量}}
{
    "query" : {
    "bool" : {
      "filter": [ 
        {{#hospitalCode}}{ "term":  { "hospital.code": "{{hospitalCode}}" }},{{/hospitalCode}}
        {{#deptCode}}
            {
                "nested" : {
                "path" : "dept",
                    "query" : {
                        "bool" : {
                            "must" : [
                            { "term" : {"dept.code" : "{{deptCode}}"} }
                            ]
                        }
                    }
                }
            },
        {{/deptCode}}
        { "term":  { "isExpert": true }},
        { "term":  { "_type": "es_doctor" }}
      ]
    }
  },
  "size": 9999,
  "sort" : [
    {
      "score" : {
        "order" : "desc"
      }
    }
  ]
}