{{! keywordDefaultSearch 关键字未查询到结果时默认推荐 默认显示科室数量 1000 聚合器不能使用分页(硬伤) }}
{
    "size": 0, 
    "query": {
        "bool":{
            "must": [
               {
                   "term": {
                      "isExpert": {
                         "value": "true"
                      }
                   }
               },
               {
                   "term": {
                      "isReal": {
                         "value": "true"
                      }
                   }
               },
               {
                    "term": {
                       "isOpenFC": {
                          "value": "true"
                       }
                    }
                }
            ]
        }
    }, 
    "sort": [
        {{#defaultRecomment}}
          {
            "level.order" : {
              "order" : "asc"
            }
          },
          {
            "_score" : {
              "order" : "desc"
            }
          }
        {{/defaultRecomment}}
        {{#synthesise}}
          {
            "level.order" : {
              "order" : "asc"
            }
          },
          {
            "score" : {
              "order" : "desc"
            }
          },
          {
            "_score" : {
            "order" : "desc"
          }
        }
        {{/synthesise}}
        {{#expert}}
          {
            "level.order" : {
              "order" : "asc"
            }
          },
          {
            "_score" : {
              "order" : "desc"
            }
          }
        {{/expert}}
        {{#todaySurplus}}
          {
            "todayLeftCount" : {
              "order" : "desc"
            }
          },
          {
            "_score" : {
              "order" : "desc"
            }
          }
        {{/todaySurplus}}
        {{#createTimeDesc}}
          {
            "createTime" : {
              "order" : "desc"
            }
          },
          {
            "_score" : {
              "order" : "desc"
            }
          }
        {{/createTimeDesc}}
    ],
    "aggs": {
    "distinct_dept": {
      "nested": {
        "path": "dept"
      },
      "aggs": {
        "distinct_dept": {
          "terms": {
            "field": "dept.code",
            "size": 1000
          },
          "aggs": {
            "root": {
              "reverse_nested": {},
              "aggs": {
                "rated": {
                  "top_hits": {
                    "sort": [
                      {
                        "level.order": {
                          "order": "asc"
                        }
                      }
                    ],
                    "size": 1
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}