{{!查询关键热词根据频道列表}}
{
  "query": {
    "bool": {
      "should": [
        {{#keywordStringList}}
        {
          "term" : {
            "searchType" : {
              "value" : "{{.}}"
            }
          }
        },
        {{/keywordStringList}}
        {
          "term": {
            "_type": {
              "value": "es_hospital_false"
            }
          }
        }
      ]
    }
  },
  "from":{{page}},
  "size":{{pageSize}},
  "sort": [
    {
      "frequency": {
        "order": "desc"
      }
    }
  ]
}